html,body {
    height:100%;
    margin:0;
    padding:0;
}
body {
    background: #FFF176;
    display: block
}
.d1{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #2196F3;
    text-align: center;
    padding: 10px;
    display: block;
}
.d2{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #F06292;
    text-align: center;
    padding: 10px;
    display: block;
}

.d3 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #0277BD;
    text-align: center;
    padding: 10px;
    display: block;
}

.d4{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #26A69A;
    text-align: center;
    padding: 10px; 
    display: block;
}
.d5{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #F06292;
    text-align: center;
    padding: 10px;
    display: block; 
}
.d6{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #0277BD;
    text-align: center;
    padding: 10px; 
    display: block;
}
